@import 'src/assets/styles/_variables.scss';

.header {
	position: absolute;
	top: 5px;
	right: 15%;

	> ul {
		display: flex;
		gap: 20px;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		list-style: none;
		padding: 0;
	}
}

.navbar__item {
	padding: 0 35px;

	> a {
		color: $color1 !important;
		text-decoration: none;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		cursor: pointer;
		transition: 300ms;

		&:hover,
		&.active {
			color: #fc6011 !important;
			text-decoration: none;
		}

		@media (prefers-color-scheme: dark) {
			color: $color5 !important;
		}

		@media (prefers-color-scheme: light) {
			color: $color1 !important;
		}
	}
}
