{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^src/components/(.*)$",
		"^src/layout/(.*)$",
		"^src/ui/(.*)$",
		"^src/providers/(.*)$",
		"^src/shared/(.*)$",
		"^src/services/(.*)$",
		"^src/assets/(.*)$",
		"^src/config/(.*)$",
		"^src/store/(.*)$",
		"^src/hooks/(.*)$",
		"^src/utils/(.*)$",
		"^src/api/(.*)$",
		"^../(.*)",
		"^./(.*)"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
