.menu {
	max-width: 1440px;
	width: 80%;
	margin: 0 auto;

	> p {
		width: 60%;
		margin: 0px auto 20px;
	}
}

.cards {
	width: 90%;
	margin: 20px auto;
	height: 365px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-between;

	&.Завтрак {
		> div {
			width: 40%;
		}
	}
	&.Похудение {
		> div {
			width: 40%;
		}
	}
}

.button__block {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.end__block {
	.button {
		width: 240px;
		height: 47px;
		border-radius: 20px;
		position: relative;

		svg {
			position: absolute;
			top: calc(50% - 12px);
			left: 28px;
		}
	}
}
