$color1: #3c374d;
$color2: #fd9058;
$color3: #fda67d;
$color4: #fedece;
$color5: #ffffff;
$color1-05: #3c374d3d;
$color1-25: #3c374d42;
$color1-90: #3c374dcc;
$color5-05: #ffffff3d;
$color5-25: #ffffff42;
$color5-90: #ffffffcc;

$backgroundModalDark: rgba(255, 255, 255, 0.1);
$backgroundModalLight: rgba(60, 55, 77, 0.6);
