@import 'variables';

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;

	@media (prefers-color-scheme: dark) {
		background-color: $color1;
		color: $color5;
	}
	@media (prefers-color-scheme: light) {
		background-color: $color5;
		color: #333;
	}
}

.button {
	background: none;
	border: 1px solid $color2;
	color: $color2;
	cursor: pointer;
	transition: 300ms;

	&:hover,
	&.active {
		background: $color2;
		color: $color5;
	}
}
